<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }} - RemoteBeacon</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/toastify.min.css') }}">

    <script src="{{ url_for('static',filename='scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/toastify-js.js') }}"></script>
</head>
<body>

<nav id="main_nav">
    <a href="{{ url_for('route_index') }}">Home</a>
    <a href="{{ url_for('route_control') }}">Control</a>
    <a href="{{ url_for('route_test_ui') }}">Test-UI</a>
    <a href="{{ url_for('route_about') }}">About</a>
</nav>

<hr>

<h1 style="margin-top: 15px; margin-bottom: 0">RemoteBeacon</h1>
<p style="margin-top: 5px">An application to remotely rotate the antenna, set transmission parameters and transmit.</p>

<img src="{{ url_for('static', filename='images/tower.png') }}" style="height: 50px;">

<hr>

<h2>{{ site_title }}</h2>

<div class="content">
    {% block content %} {% endblock %}
</div>

<hr style="margin-top: 20px">

<p style="margin-top: 0">The quick brown fox jumps over the lazy dog</p>

</body>
</html>