{% extends 'base.html' %}

{% block content %}

    <script>
        function refresh() {

            $.ajax({
                url: "{{ url_for("route_api_ham_ant_rotator") }}",
                success: function (data) {
                    $("#lbl_ant_rot_azimuth").text(Math.round(data["azimuth"] * 100) / 100);
                    $("#lbl_ant_rot_elevation").text(Math.round(data["elevation"] * 100) / 100);
                    $("#lbl_ant_rot_last_updated").text(data["last_updated"]);
                }
            });

        }

        var background_refresh = -1;

        function start_refresh() {
            if (background_refresh !== -1) {
                return;
            }
            background_refresh = window.setInterval(function () {
                refresh();
            }, 1000);

            Toastify({
                text: "Start Background Refresh",
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "green",
                },
            }).showToast();
        }

        function stop_refresh() {
            window.clearInterval(background_refresh);
            background_refresh = -1;
            Toastify({
                text: "Stop Background Refresh",
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "red",
                },
            }).showToast();
        }

    </script>

    <p>This page is for tbd.</p>

    <h3>Page Control</h3>

    <ul>
        <li><a href="javascript:refresh()">Manual Refresh</a></li>
        <li><a href="javascript:start_refresh()">Start Background Refresh</a></li>
        <li><a href="javascript:stop_refresh()">Stop Background Refresh</a></li>
    </ul>

    <h3>Antenna Rotator</h3>

    <table class="tab-content">
        <tr>
            <td>Last Updated</td>
            <td><label id="lbl_ant_rot_last_updated">tbd</label></td>
        </tr>
        <tr>
            <td>Azimuth</td>
            <td><label id="lbl_ant_rot_azimuth">tbd</label></td>
        </tr>
        <tr>
            <td>Elevation</td>
            <td><label id="lbl_ant_rot_elevation">tbd</label></td>
        </tr>
    </table>


    <script>
        start_refresh();
    </script>

{% endblock %}