{% extends 'base.html' %}

{% block content %}

    <script>
        function refresh() {

            $.ajax({
                url: "{{ url_for("route_api_ham_ant_rotator") }}",
                success: function (data) {
                    $("#lbl_ant_rot_azimuth").text(data["azimuth"]);
                    $("#lbl_ant_rot_elevation").text(data["elevation"]);
                    $("#lbl_ant_rot_last_updated").text(data["last_updated"]);
                }
            });

            $.ajax({
                url: "{{ url_for("route_api_ham_radio") }}",
                success: function (data) {
                    $("#lbl_radio_frequency").text(data["frequency"]);
                    $("#lbl_radio_power").text(data["power"]);
                    $("#lbl_radio_mode").text(data["mode"]);
                    $("#lbl_radio_is_transmitting").text(data["is_transmitting"]);
                    $("#lbl_radio_last_updated").text(data["last_updated"]);
                }
            });

        }

        var background_refresh = -1;

        function start_refresh() {
            if (background_refresh !== -1) {
                return;
            }
            background_refresh = window.setInterval(function () {
                refresh();
            }, 1000);

            Toastify({
                text: "Start Background Refresh",
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "green",
                },
            }).showToast();
        }

        function stop_refresh() {
            window.clearInterval(background_refresh);
            background_refresh = -1;
            Toastify({
                text: "Stop Background Refresh",
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "red",
                },
            }).showToast();
        }

    </script>

    <script>

        function form_set_ant_rot_azimuth() {
            let azimuth = $("#form_ant_rot_azimuth").val();

            $.ajax({
                url: '{{ url_for("route_api_ham_ant_rotator") }}',
                type: "POST",
                data: JSON.stringify({
                    azimuth: azimuth,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {

                }
            });

            Toastify({
                text: "Set Antenna Rotator: Azimuth=" + azimuth,
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "blue",
                },
            }).showToast();

        }

        function form_set_ant_rot_elevation() {
            let elevation = $("#form_ant_rot_elevation").val();

            $.ajax({
                url: '{{ url_for("route_api_ham_ant_rotator") }}',
                type: "POST",
                data: JSON.stringify({
                    elevation: elevation,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {

                }
            });

            Toastify({
                text: "Set Antenna Rotator: Elevation=" + elevation,
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "blue",
                },
            }).showToast();

        }

        function form_radio_start_tx() {

            $.ajax({
                url: '{{ url_for("route_api_ham_radio_start_tx") }}',
                type: "POST",
                success: function () {
                    Toastify({
                        text: "Start Transmitting",
                        position: "center",
                        gravity: "bottom",
                        duration: 5000,
                        style: {
                            background: "blue",
                        },
                    }).showToast();
                }
            });


        }

        function form_radio_stop_tx() {

            $.ajax({
                url: '{{ url_for("route_api_ham_radio_stop_tx") }}',
                type: "POST",
                success: function () {
                    Toastify({
                        text: "Stop Transmitting",
                        position: "center",
                        gravity: "bottom",
                        duration: 5000,
                        style: {
                            background: "blue",
                        },
                    }).showToast();
                }
            });

        }

    </script>

    <p>This page is for tbd.</p>

    <h3>Page Control</h3>

    <ul>
        <li><a href="javascript:refresh()">Manual Refresh</a></li>
        <li><a href="javascript:start_refresh()">Start Background Refresh</a></li>
        <li><a href="javascript:stop_refresh()">Stop Background Refresh</a></li>
    </ul>

    <h3>Antenna Rotator</h3>

    <h4>Overview</h4>

    <table class="tab-content">
        <tr>
            <td>Last Updated (UTC)</td>
            <td><label id="lbl_ant_rot_last_updated">tbd</label></td>
        </tr>
        <tr>
            <td>Azimuth (Degree)</td>
            <td><label id="lbl_ant_rot_azimuth">tbd</label></td>
        </tr>
        <tr>
            <td>Elevation (Degree)</td>
            <td><label id="lbl_ant_rot_elevation">tbd</label></td>
        </tr>
    </table>

    <h4>Control</h4>

    <form action="javascript:form_set_ant_rot_azimuth()">
        <table class="tab-content">
            <tr>
                <td class="tab-first-col">Azimuth (Degree)</td>
                <td><input type="text" class="input-same-width"
                           id="form_ant_rot_azimuth"
                           name="form_ant_rot_azimuth"
                           value="0"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Set"></td>
            </tr>
        </table>
    </form>

    <form action="javascript:form_set_ant_rot_elevation()">
        <table class="tab-content">
            <tr>
                <td class="tab-first-col">Elevation (Degree)</td>
                <td><input type="text" class="input-same-width"
                           id="form_ant_rot_elevation"
                           name="form_ant_rot_elevation"
                           value="0"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Set"></td>
            </tr>
        </table>
    </form>

    <h3>Radio</h3>

    <h4>Overview</h4>

    <table class="tab-content">
        <tr>
            <td>Last Updated (UTC)</td>
            <td><label id="lbl_radio_last_updated">tbd</label></td>
        </tr>
        <tr>
            <td>Frequency (Hz)</td>
            <td><label id="lbl_radio_frequency">tbd</label></td>
        </tr>
        <tr>
            <td>Power (W)</td>
            <td><label id="lbl_radio_power">tbd</label></td>
        </tr>
        <tr>
            <td>Mode</td>
            <td><label id="lbl_radio_mode">tbd</label></td>
        </tr>
        <tr>
            <td>Is Transmitting</td>
            <td><label id="lbl_radio_is_transmitting">tbd</label></td>
        </tr>
    </table>

    <h4>Control</h4>

    <ul>
        <li><a href="javascript:form_radio_start_tx()">Start Transmitting</a></li>
        <li><a href="javascript:form_radio_stop_tx()">Stop Transmitting</a></li>
    </ul>


    <script>
        start_refresh();
    </script>

{% endblock %}