{% extends 'base.html' %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/leaflet.css') }}"/>
    <script src="{{ url_for('static',filename='scripts/leaflet.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/leaflet.geodesic') }}"></script>
    <script src="{{ url_for('static',filename='scripts/leaflet.terminator') }}"></script>

    <script>

        var is_first_refresh_ant_rotator = true;
        var is_first_refresh_radio = true;

        function refresh_ant_rotor(flag_refresh_man = false) {

            if (flag_refresh_man) {
                Toastify({
                        text: "Refresh now Ant Rotor Parameters...",
                        position: "center",
                        gravity: "bottom",
                        duration: 5000,
                        style: {
                            background: "red",
                        },
                    }
                ).showToast();
            }

            $.ajax({
                url: "{{ url_for("route_api_ham_ant_rotator") }}",
                success: function (data) {
                    $("#lbl_ant_rot_azimuth").text(data["azimuth"]);
                    $("#lbl_ant_rot_elevation").text(data["elevation"]);
                    $("#lbl_ant_rot_last_updated").text(data["last_updated"]);

                    if (is_first_refresh_ant_rotator || flag_refresh_man) {
                        $("#form_ant_rot_azimuth").val(data["azimuth"]);
                        $("#form_ant_rot_elevation").val(data["elevation"]);
                        is_first_refresh_ant_rotator = false;
                    }

                    if (flag_refresh_man) {
                        Toastify({
                                text: "Refreshed Ant Rotor Parameters",
                                position: "center",
                                gravity: "bottom",
                                duration: 5000,
                                style: {
                                    background: "green",
                                },
                            }
                        ).showToast();

                    } else {
                        {#Get Azimuth from control#}
                        let azimuth_con = $("#form_ant_rot_azimuth").val();

                        {#Get Azimuth from output #}
                        let azimuth_out = data["azimuth"];

                        drawCircleWithLines(azimuth_out, azimuth_con);
                        renew_geodesic_map(azimuth_con, azimuth_out);
                    }

                }
            });
        }

        function refresh_radio() {

            Toastify({
                text: "Refresh now Radio Parameters...",
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "red",
                },
            }).showToast();

            $.ajax({
                url: "{{ url_for("route_api_ham_radio") }}",
                success: function (data) {
                    $("#lbl_radio_frequency").text(data["frequency"]);
                    $("#lbl_radio_power").text(data["power"]);
                    $("#lbl_radio_mode").text(data["mode"]);
                    $("#lbl_radio_is_transmitting").text(data["is_transmitting"]);
                    $("#lbl_radio_last_updated").text(data["last_updated"]);

                    if (is_first_refresh_radio) {
                        $("#form_radio_frequency").val(data["frequency"]);
                        $("#form_radio_power").val(data["power"]);
                        $("#form_radio_mode").val(data["mode"]);
                        is_first_refresh_radio = false;
                    }

                    Toastify({
                        text: "Refreshed Radio Parameters",
                        position: "center",
                        gravity: "bottom",
                        duration: 5000,
                        style: {
                            background: "green",
                        },
                    }).showToast();

                }
            });
        }

    </script>

    <script>

        function form_set_ant_rot_azimuth() {
            let azimuth = $("#form_ant_rot_azimuth").val();

            $.ajax({
                url: '{{ url_for("route_api_ham_ant_rotator") }}',
                type: "POST",
                data: JSON.stringify({
                    azimuth: azimuth,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {

                }
            });

            Toastify({
                text: "Set Antenna Rotator: Azimuth=" + azimuth,
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "blue",
                },
            }).showToast();

        }

        function form_set_ant_rot_elevation() {
            let elevation = $("#form_ant_rot_elevation").val();

            $.ajax({
                url: '{{ url_for("route_api_ham_ant_rotator") }}',
                type: "POST",
                data: JSON.stringify({
                    elevation: elevation,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {

                }
            });

            Toastify({
                text: "Set Antenna Rotator: Elevation=" + elevation,
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "blue",
                },
            }).showToast();

        }

        function form_radio_set_frequency() {
            let frequency = $("#form_radio_frequency").val();

            $.ajax({
                url: '{{ url_for("route_api_ham_radio") }}',
                type: "POST",
                data: JSON.stringify({
                    frequency: frequency,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {

                }
            });

            Toastify({
                text: "Set Radio: Frequency=" + frequency,
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "blue",
                },
            }).showToast();

        }

        function form_radio_set_power() {
            let power = $("#form_radio_power").val();

            $.ajax({
                url: '{{ url_for("route_api_ham_radio") }}',
                type: "POST",
                data: JSON.stringify({
                    power: power,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {

                }
            });

            Toastify({
                text: "Set Radio: Power=" + power,
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "blue",
                },
            }).showToast();

        }

        function form_radio_set_mode() {
            let mode = $("#form_radio_mode").val();

            $.ajax({
                url: '{{ url_for("route_api_ham_radio") }}',
                type: "POST",
                data: JSON.stringify({
                    mode: mode,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {

                }
            });

            Toastify({
                text: "Set Radio: Mode=" + mode,
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "blue",
                },
            }).showToast();

        }

        function form_radio_start_tx() {

            $.ajax({
                url: '{{ url_for("route_api_ham_radio_start_tx") }}',
                type: "POST",
                success: function () {
                    Toastify({
                        text: "Start Transmitting",
                        position: "center",
                        gravity: "bottom",
                        duration: 5000,
                        style: {
                            background: "blue",
                        },
                    }).showToast();
                }
            });


        }

        function form_radio_stop_tx() {

            $.ajax({
                url: '{{ url_for("route_api_ham_radio_stop_tx") }}',
                type: "POST",
                success: function () {
                    Toastify({
                        text: "Stop Transmitting",
                        position: "center",
                        gravity: "bottom",
                        duration: 5000,
                        style: {
                            background: "blue",
                        },
                    }).showToast();
                }
            });

        }

    </script>

    <p>This page is used to display the parameters and to control the antenna and the radio.</p>

    <h3>Antenna Rotator</h3>

    <ul>
        <li><a href="javascript:refresh_ant_rotor(true)">Refresh Data</a></li>
    </ul>

    <script>
        setInterval(refresh_ant_rotor, 3000);
    </script>

    <h4>Ant Rotor Calculator</h4>

    <p>Automatically calculates the parameters for the <i>Ant Rotor Control</i> section.<br>Displays the information and
        position on a map.</p>

    <form action="javascript:calc_ant_rotor_params_maidenhead()">
        <table class="tab-content">
            <tr>
                <td class="tab-first-col">Maidenhead</td>
                <td class="tab-second-col"><input type="text" class="input-same-width"
                                                  id="form_calc_maidenhead"
                                                  name="form_calc_maidenhead"
                                                  value="{{ page_tx_maidenhead }}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Calculate on Locator"></td>
            </tr>
        </table>
    </form>

    <br>

    <form action="javascript:calc_ant_rotor_params_gps()">
        <table class="tab-content">
            <tr>
                <td class="tab-first-col">GPS Latitude</td>
                <td class="tab-second-col"><input type="text" class="input-same-width"
                                                  id="form_calc_gps_lat"
                                                  name="form_calc_gps_lat"
                                                  value="{{ page_tx_latitude }}"></td>
            </tr>
            <tr>
                <td class="tab-first-col">GPS Longitude</td>
                <td class="tab-second-col"><input type="text" class="input-same-width"
                                                  id="form_calc_gps_lon"
                                                  name="form_calc_gps_lon"
                                                  value="{{ page_tx_longitude }}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Calculate on Lat/Lon"></td>
            </tr>
        </table>
    </form>

    <br>

    <table class="tab-content">
        <tr>
            <td class="tab-first-col">RX-Distance (km)</td>
            <td class="tab-second">
                <label id="lbl_calc_rx_distance">0</label>
            </td>
        </tr>
        <tr>
            <td class="tab-first-col">RX-Azimuth (Degree)</td>
            <td class="tab-second">
                <label id="lbl_calc_rx_azimuth">0</label>
            </td>
        </tr>
    </table>

    <br>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([{{ page_tx_latitude }}, {{ page_tx_longitude }}], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var marker = L.marker([{{ page_tx_latitude }}, {{ page_tx_longitude }}]).addTo(map)
            .bindPopup('TX')
            .openPopup();
        var geodesic_marker = L.geodesic([[{{ page_tx_latitude }}, {{ page_tx_longitude }}], [{{ page_tx_latitude }}, {{ page_tx_longitude }}]], {
            weight: 2,
            opacity: 1,
            color: 'blue',
            steps: 50
        }).addTo(map);

        function renew_map(lat, lon) {


            // Alten Marker entfernen
            map.removeLayer(marker);
            map.removeLayer(geodesic_marker);

            L.marker([{{ page_tx_latitude }}, {{ page_tx_longitude }}]).addTo(map)
                .bindPopup('TX')
                .openPopup();

            marker = L.marker([lat, lon]).addTo(map)
                .bindPopup('RX')
                .openPopup();

            //Berechne mitte zwischen TX und RX
            var middle_lat = ({{ page_tx_latitude }} + lat) / 2;
            var middle_lon = ({{ page_tx_longitude }} + lon) / 2;


            //Zeichne GEODESIC LINE
            geodesic_marker = L.geodesic([[{{ page_tx_latitude }}, {{ page_tx_longitude }}], [lat, lon]], {
                weight: 2,
                opacity: 1,
                color: 'blue',
                steps: 50
            }).addTo(map);

            {#map.setView([middle_lat, middle_lon], 15);#}
            map.setView([middle_lat, middle_lon], 1);


        }
    </script>

    <script>

        function calc_ant_rotor_params_maidenhead() {
            let maidenhead = $("#form_calc_maidenhead").val();

            $.ajax({
                url: '{{ url_for("route_api_ham_ant_rotor_params") }}',
                type: "POST",
                data: JSON.stringify({
                    maidenhead: maidenhead,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#lbl_calc_rx_distance").text(data["distance"]);
                    $("#lbl_calc_rx_azimuth").text(data["azimuth"]);

                    $("#form_calc_gps_lat").val(data["latitude"]);
                    $("#form_calc_gps_lon").val(data["longitude"]);

                    renew_map(data["latitude"], data["longitude"]);

                    $("#form_ant_rot_azimuth").val(data["azimuth"]);

                    Toastify({
                        text: "Calculated Ant-Parameters",
                        position: "center",
                        gravity: "bottom",
                        duration: 5000,
                        style: {
                            background: "orange",
                        },
                    }).showToast();
                }
            });

        }

        function calc_ant_rotor_params_gps() {
            let lat = $("#form_calc_gps_lat").val();
            let lon = $("#form_calc_gps_lon").val();

            $.ajax({
                url: '{{ url_for("route_api_ham_ant_rotor_params") }}',
                type: "POST",
                data: JSON.stringify({
                    latitude: lat,
                    longitude: lon,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#lbl_calc_rx_distance").text(data["distance"]);
                    $("#lbl_calc_rx_azimuth").text(data["azimuth"]);

                    $("#form_calc_maidenhead").val(data["maidenhead"]);

                    renew_map(data["latitude"], data["longitude"]);

                    $("#form_ant_rot_azimuth").val(data["azimuth"]);

                    Toastify({
                        text: "Calculated Ant-Parameters",
                        position: "center",
                        gravity: "bottom",
                        duration: 5000,
                        style: {
                            background: "orange",
                        },
                    }).showToast();
                }
            });

        }

    </script>

    <h4>Control</h4>

    <form action="javascript:form_set_ant_rot_azimuth()">
        <table class="tab-content">
            <tr>
                <td class="tab-first-col">Azimuth (Degree)</td>
                <td class="tab-second-col"><input type="text" class="input-same-width"
                                                  id="form_ant_rot_azimuth"
                                                  name="form_ant_rot_azimuth"
                                                  value="0"></td>
                <td><input type="submit" value="Set"></td>
            </tr>
        </table>
    </form>

    <form action="javascript:form_set_ant_rot_elevation()">
        <table class="tab-content">
            <tr>
                <td class="tab-first-col">Elevation (Degree)</td>
                <td class="tab-second-col"><input type="text" class="input-same-width"
                                                  id="form_ant_rot_elevation"
                                                  name="form_ant_rot_elevation"
                                                  value="0"></td>
                <td><input type="submit" value="Set"></td>
            </tr>
        </table>
    </form>

    <br/>

    <canvas id="myCanvas" width="100" height="100" style="margin: 0; padding: 0"></canvas>
    <script>
        // Funktion, um den Kreis und die Linien zu zeichnen
        function drawCircleWithLines(redAngle, greenAngle) {
            const canvas = document.getElementById('myCanvas');
            const ctx = canvas.getContext('2d');

            // Canvas leeren
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // Mittelpunkt des Kreises
            const centerX = canvas.width / 2;
            const centerY = canvas.height / 2;
            const radius = 40; // Radius auf 40 reduzieren, da die Canvasgröße klein ist

            // Kreis zeichnen
            ctx.beginPath();
            ctx.arc(centerX, centerY, radius, 0, 2 * Math.PI);
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 2;
            ctx.stroke();

            // Funktion, um Winkel in Radiant umzuwandeln
            function degreesToRadians(degrees) {
                return (degrees - 90) * (Math.PI / 180); // 90 Grad abziehen, um den Nullpunkt auf 12 Uhr zu setzen
            }

            // Rote Linie zeichnen
            const redRadians = degreesToRadians(redAngle);
            const redX = centerX + radius * Math.cos(redRadians);
            const redY = centerY + radius * Math.sin(redRadians);

            ctx.beginPath();
            ctx.moveTo(centerX, centerY);
            ctx.lineTo(redX, redY);
            ctx.strokeStyle = 'red';
            ctx.lineWidth = 2;
            ctx.stroke();

            // Grüne Linie zeichnen
            const greenRadians = degreesToRadians(greenAngle);
            const greenX = centerX + radius * Math.cos(greenRadians);
            const greenY = centerY + radius * Math.sin(greenRadians);

            ctx.beginPath();
            ctx.moveTo(centerX, centerY);
            ctx.lineTo(greenX, greenY);
            ctx.strokeStyle = 'blue';
            ctx.lineWidth = 2;
            ctx.stroke();
        }

        drawCircleWithLines(0, 0);

    </script>

    <br/>

    <div id="map2" style="width: 1200px; height: 600px"></div>
    <script>
        var map2 = L.map('map2').setView([{{ page_tx_latitude }}, {{ page_tx_longitude }}], 1.5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map2);
        var marker2 = L.marker([{{ page_tx_latitude }}, {{ page_tx_longitude }}]).addTo(map2)
            .bindPopup('TX')
            .openPopup();
        var geodesic_marker_is = L.geodesic([[{{ page_tx_latitude }}, {{ page_tx_latitude }}], [{{ page_tx_latitude }}, {{ page_tx_latitude }}]], {
            weight: 2,
            opacity: 1,
            color: 'red',
            steps: 50
        }).addTo(map2);
        var geodesic_marker_should = L.geodesic([[{{ page_tx_latitude }}, {{ page_tx_latitude }}], [{{ page_tx_latitude }}, {{ page_tx_latitude }}]], {
            weight: 2,
            opacity: 1,
            color: 'blue',
            steps: 50
        }).addTo(map2);

        var geodesic_marker_is_back = L.geodesic([[{{ page_tx_latitude }}, {{ page_tx_latitude }}], [{{ page_tx_latitude }}, {{ page_tx_latitude }}]], {
            weight: 2,
            opacity: 1,
            color: 'yellow',
            steps: 50
        }).addTo(map2);

        var geodesic_marker_is_left = L.geodesic([[{{ page_tx_latitude }}, {{ page_tx_latitude }}], [{{ page_tx_latitude }}, {{ page_tx_latitude }}]], {
            weight: 2,
            opacity: 1,
            color: 'orange',
            steps: 50
        }).addTo(map2);

        var geodesic_marker_is_right = L.geodesic([[{{ page_tx_latitude }}, {{ page_tx_latitude }}], [{{ page_tx_latitude }}, {{ page_tx_latitude }}]], {
            weight: 2,
            opacity: 1,
            color: 'orange',
            steps: 50
        }).addTo(map2);

        var terminator = L.terminator().addTo(map2);
        setInterval(function () {
            terminator.setTime();
        }, 60000); // Every minute

        function renew_geodesic_map(bearingDegreeShould, bearingDegree) {

            // Alten Marker entfernen
            map2.removeLayer(geodesic_marker_is);
            map2.removeLayer(geodesic_marker_should);
            map2.removeLayer(geodesic_marker_is_back);
            map2.removeLayer(geodesic_marker_is_left);
            map2.removeLayer(geodesic_marker_is_right);

            let start_lat = {{ page_tx_latitude }};
            let start_lon = {{ page_tx_longitude }};

            {#let simulated_distance = 10000;  // Simulierte Entfernung (in Kilometern)#}

            var simulated_distance = 20000;
            var simulated_distance_short = 10000;

            // Konvertiere Bearing in Radians
            let bearingRad = bearingDegree * Math.PI / 180;
            let bearingRadShould = bearingDegreeShould * Math.PI / 180;

            // Berechne Endkoordinaten mit Hilfe einer einfachen Kugelprojektion
            let R = 6371; // Erdradius in Kilometern
            let end_lat = Math.asin(Math.sin(start_lat * Math.PI / 180) * Math.cos(simulated_distance / R) +
                Math.cos(start_lat * Math.PI / 180) * Math.sin(simulated_distance / R) * Math.cos(bearingRad)) * 180 / Math.PI;

            let end_lon = start_lon + Math.atan2(Math.sin(bearingRad) * Math.sin(simulated_distance / R) * Math.cos(start_lat * Math.PI / 180),
                Math.cos(simulated_distance / R) - Math.sin(start_lat * Math.PI / 180) * Math.sin(end_lat * Math.PI / 180)) * 180 / Math.PI;

            let end_lat_should = Math.asin(Math.sin(start_lat * Math.PI / 180) * Math.cos(simulated_distance / R) +
                Math.cos(start_lat * Math.PI / 180) * Math.sin(simulated_distance / R) * Math.cos(bearingRadShould)) * 180 / Math.PI;

            let end_lon_should = start_lon + Math.atan2(Math.sin(bearingRadShould) * Math.sin(simulated_distance / R) * Math.cos(start_lat * Math.PI / 180),
                Math.cos(simulated_distance / R) - Math.sin(start_lat * Math.PI / 180) * Math.sin(end_lat_should * Math.PI / 180)) * 180 / Math.PI;

            // Geodätische Linie hinzufügen
            geodesic_marker_is = L.geodesic([[start_lat, start_lon], [end_lat, end_lon]], {
                weight: 2,
                opacity: 1,
                color: 'red',
                steps: 50
            }).addTo(map2);

            geodesic_marker_should = L.geodesic([[start_lat, start_lon], [end_lat_should, end_lon_should]], {
                weight: 2,
                opacity: 1,
                color: 'blue',
                steps: 50
            }).addTo(map2);

            let bearingRadIs_Back = (bearingDegree + 180) * Math.PI / 180;

            let end_lat_is_back = Math.asin(Math.sin(start_lat * Math.PI / 180) * Math.cos(simulated_distance_short / R) +
                Math.cos(start_lat * Math.PI / 180) * Math.sin(simulated_distance_short / R) * Math.cos(bearingRadIs_Back)) * 180 / Math.PI;
            let end_lon_is_back = start_lon + Math.atan2(Math.sin(bearingRadIs_Back) * Math.sin(simulated_distance_short / R) * Math.cos(start_lat * Math.PI / 180),
                Math.cos(simulated_distance_short / R) - Math.sin(start_lat * Math.PI / 180) * Math.sin(end_lat_is_back * Math.PI / 180)) * 180 / Math.PI;

            geodesic_marker_is_back = L.geodesic([[start_lat, start_lon], [end_lat_is_back, end_lon_is_back]], {
                weight: 2,
                opacity: 1,
                color: 'yellow',
                steps: 50
            }).addTo(map2);

            let bearingRadIs_Left = (bearingDegree + 90) * Math.PI / 180;

            let end_lat_is_left = Math.asin(Math.sin(start_lat * Math.PI / 180) * Math.cos(simulated_distance_short / R) +
                Math.cos(start_lat * Math.PI / 180) * Math.sin(simulated_distance_short / R) * Math.cos(bearingRadIs_Left)) * 180 / Math.PI;
            let end_lon_is_left = start_lon + Math.atan2(Math.sin(bearingRadIs_Left) * Math.sin(simulated_distance_short / R) * Math.cos(start_lat * Math.PI / 180),
                Math.cos(simulated_distance_short / R) - Math.sin(start_lat * Math.PI / 180) * Math.sin(end_lat_is_left * Math.PI / 180)) * 180 / Math.PI;

            geodesic_marker_is_left = L.geodesic([[start_lat, start_lon], [end_lat_is_left, end_lon_is_left]], {
                weight: 2,
                opacity: 1,
                color: 'orange',
                steps: 50
            }).addTo(map2);

            let bearingRadIs_Right = (bearingDegree - 90) * Math.PI / 180;

            let end_lat_is_right = Math.asin(Math.sin(start_lat * Math.PI / 180) * Math.cos(simulated_distance_short / R) +
                Math.cos(start_lat * Math.PI / 180) * Math.sin(simulated_distance_short / R) * Math.cos(bearingRadIs_Right)) * 180 / Math.PI;
            let end_lon_is_right = start_lon + Math.atan2(Math.sin(bearingRadIs_Right) * Math.sin(simulated_distance_short / R) * Math.cos(start_lat * Math.PI / 180),
                Math.cos(simulated_distance_short / R) - Math.sin(start_lat * Math.PI / 180) * Math.sin(end_lat_is_right * Math.PI / 180)) * 180 / Math.PI;

            geodesic_marker_is_right = L.geodesic([[start_lat, start_lon], [end_lat_is_right, end_lon_is_right]], {
                weight: 2,
                opacity: 1,
                color: 'orange',
                steps: 50
            }).addTo(map2);

        }

    </script>

    <h4>Overview</h4>

    <table class="tab-content">
        <tr>
            <td>Last Updated (UTC)</td>
            <td><label id="lbl_ant_rot_last_updated">tbd</label></td>
        </tr>
        <tr>
            <td>Azimuth (Degree)</td>
            <td><label id="lbl_ant_rot_azimuth">tbd</label></td>
        </tr>
        <tr>
            <td>Elevation (Degree)</td>
            <td><label id="lbl_ant_rot_elevation">tbd</label></td>
        </tr>
    </table>

    <h3>Radio</h3>

    <ul>
        <li><a href="javascript:refresh_radio()">Refresh Data</a></li>
    </ul>

    <h4>Overview</h4>

    <table class="tab-content">
        <tr>
            <td>Last Updated (UTC)</td>
            <td><label id="lbl_radio_last_updated">tbd</label></td>
        </tr>
        <tr>
            <td>Frequency (Hz)</td>
            <td><label id="lbl_radio_frequency">tbd</label></td>
        </tr>
        <tr>
            <td>Power (%)</td>
            <td><label id="lbl_radio_power">tbd</label></td>
        </tr>
        <tr>
            <td>Mode</td>
            <td><label id="lbl_radio_mode">tbd</label></td>
        </tr>
        <tr>
            <td>Is Transmitting</td>
            <td><label id="lbl_radio_is_transmitting">tbd</label></td>
        </tr>
    </table>

    <h4>Control</h4>

    <p>The transmission stops automatically {{ page_tx_wav_duration }} seconds after the start of the transmission.</p>

    <ul>
        <li><a href="javascript:form_radio_start_tx()">Start Transmitting</a></li>
        <li><a href="javascript:form_radio_stop_tx()">Stop Transmitting</a></li>
    </ul>

    <form action="javascript:form_radio_set_frequency()">
        <table class="tab-content">
            <tr>
                <td class="tab-first-col">Frequency (Hz)</td>
                <td class="tab-second-col"><input type="text" class="input-same-width"
                                                  id="form_radio_frequency"
                                                  name="form_radio_frequency"
                                                  value="0"></td>
                <td><input type="submit" value="Set"></td>
            </tr>
        </table>
    </form>

    <form action="javascript:form_radio_set_power()">
        <table class="tab-content">
            <tr>
                <td class="tab-first-col">Power (%)</td>
                <td class="tab-second-col"><input type="text" class="input-same-width"
                                                  id="form_radio_power"
                                                  name="form_radio_power"
                                                  value="0"></td>
                <td><input type="submit" value="Set"></td>
            </tr>
        </table>
    </form>

    <form action="javascript:form_radio_set_mode()">
        <table class="tab-content">
            <tr>
                <td class="tab-first-col">Mode</td>
                <td class="tab-second-col">
                    <select
                            class="input-same-width"
                            name="form_radio_mode"
                            id="form_radio_mode">
                        <option value="AM">AM</option>
                        <option value="FM">FM</option>
                        <option value="USB">USB</option>
                        <option value="LSB">LSB</option>
                        <option value="CW">CW</option>
                    </select>
                </td>
                <td><input type="submit" value="Set"></td>
            </tr>
        </table>
    </form>


    <script>
        {#refresh_ant_rotor();#}
        {#refresh_radio();#}
    </script>

{% endblock %}