{% extends 'base.html' %}

{% block content %}

    <script>
        function refresh() {

            $.ajax({
                url: "{{ url_for("route_api_test") }}",
                {#type: "GET",#}
                {#dataType: "json",#}
                {#contentType: "application/json; charset=utf-8",#}
                success: function (data) {
                    $("#lbl_name").text(data["name"]);
                    $("#lbl_description").text(data["description"]);
                    $("#lbl_int").text(data["test_int"]);
                    $("#lbl_created_at").text(data["created_at"]);
                }
            });

        }

        var background_refresh = -1;

        function start_refresh() {
            if (background_refresh !== -1) {
                return;
            }
            background_refresh = window.setInterval(function () {
                refresh();
            }, 1000);

            Toastify({
                text: "Start Background Refresh",
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "green",
                },
            }).showToast();
        }

        function stop_refresh() {
            window.clearInterval(background_refresh);
            background_refresh = -1;
            Toastify({
                text: "Stop Background Refresh",
                position: "center",
                gravity: "bottom",
                duration: 5000,
                style: {
                    background: "red",
                },
            }).showToast();
        }

    </script>

    <p>This page is for testing the user interface and the operating concept.</p>

    <h3>Get Test</h3>

    <ul>
        <li><a href="javascript:refresh()">Manual Refresh</a></li>
        <li><a href="javascript:start_refresh()">Start Background Refresh</a></li>
        <li><a href="javascript:stop_refresh()">Stop Background Refresh</a></li>
    </ul>

    <table class="tab-content">
        <tr>
            <td>Name</td>
            <td><label id="lbl_name">tbd</label></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><label id="lbl_description">tbd</label></td>
        </tr>
        <tr>
            <td>Test-Int</td>
            <td><label id="lbl_int">tbd</label></td>
        </tr>
        <tr>
            <td>Created at (UTC)</td>
            <td><label id="lbl_created_at">tbd</label></td>
        </tr>
    </table>

    <h3>Post Test</h3>

    <form action="{{ url_for('route_test_ui') }}" method="post" enctype="multipart/form-data">

        <table class="tab-content">
            <tr>
                <td>Description</td>
                <td><input type="text" class="input-same-width"
                           id="description"
                           name="description"
                           value="{{ page_test_description }}"></td>
            </tr>
            <tr>
                <td>Test-Int</td>
                <td><input type="number" class="input-same-width"
                           id="test_int"
                           name="test_int"
                           value="{{ page_test_int }}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>

    </form>

    <script>
        start_refresh();
    </script>

{% endblock %}