{% extends 'base.html' %}

{% block content %}

    <script>
        function test_function() {

            $.ajax({
                url: "{{ url_for("route_api_test") }}",
                {#type: "GET",#}
                {#dataType: "json",#}
                {#contentType: "application/json; charset=utf-8",#}
                success: function (data) {
                    $("#lbl_name").text(data["name"]);
                    $("#lbl_description").text(data["description"]);
                    $("#lbl_int").text(data["test_int"]);
                    $("#lbl_created_at").text(data["created_at"]);
                }
            });

        }

        var background_interval = -1;

        function start_test() {
            background_interval = window.setInterval(function () {
                test_function();
            }, 1000);
        }

        function stop_test() {
            window.clearInterval(background_interval);
        }

    </script>

    <ul>
        <li><a href="javascript:test_function()">Manual</a></li>
        <li><a href="javascript:start_test()">Start</a></li>
        <li><a href="javascript:stop_test()">Stop</a></li>
    </ul>

    <ul>
        <li>Name: <label id="lbl_name">tbd</label></li>
        <li>Description: <label id="lbl_description">tbd</label></li>
        <li>Test-Int: <label id="lbl_int">tbd</label></li>
        <li>Created at: <label id="lbl_created_at">tbd</label></li>
    </ul>

    <form action="{{ url_for('route_test') }}" method="post" enctype="multipart/form-data">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="tbd">
        <br>
        <label for="test_int">Test-Int:</label>
        <input type="number" id="test_int" name="test_int" value="0">
        <br>
        <input type="submit" value="Submit">
    </form>

    <script>
        start_test();
    </script>

{% endblock %}